<md-list>
  <div class="contacts-list">
    <div *ngIf="show" class="contacts-list-container">
      <md-list-item *ngFor="let contact of contacts">
        <div class="contact-row" (click)="centre.emit(contact.$key)">
          <span class="name">{{contact.name}}</span>
          <span class="fill-space"></span>
          <span class="time"><i>{{formatDate(contact.updated)}}</i></span>
          <span class="label label-success">{{distanceTo(contact) | number:'1.0-1'}} mi</span>
        </div>
      </md-list-item>
    </div>
  </div>
  <div *ngIf="show" class="me">
    <md-divider></md-divider>
    <md-list-item>
      <div class="contact-row" (click)="centre.emit(me.$key)">
        <span class="name">Me</span>
        <span class="fill-space"></span>
        <span class="time"><i>{{formatDate(me.updated)}}</i></span>
      </div>
    </md-list-item>
    <md-divider></md-divider>
  </div>
</md-list>