.map-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

md-toolbar {
    /*position: absolute;
    bottom: 0px;*/
    display: flex;
    flex: 1;
}

.fill-space {
  flex: 1 1 auto;
}

.contacts-list-container,
.contacts-list  {
    max-height: 153px;  /* 3 items plus 8px top padding */
}

.contacts-list {
    overflow-y: scroll;
}

.contact-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}