<div class="page">
  <div id="map"></div>

  <app-contacts [settings]="app | async"
                [show]="showContacts"
                (centre)="centreMe($event)"
                (remove)="unlinkContact($event)"></app-contacts>

  <!-- Bottom Bar -->
  <md-toolbar [color]="primary">
    <button md-icon-button aria-label="Centre on me" (click)="centreMe()">
      <md-icon class="md-24">my_location</md-icon>
    </button>
    <button md-icon-button aria-label="Scale map to fit" (click)="scaleToFit()">
      <md-icon class="md-24">zoom_out_map</md-icon>
    </button>
    <button md-icon-button aria-label="Show contacts list" (click)="toggleContacts()">
      <md-icon class="md-24">people</md-icon>
    </button>

    <span class="fill-space"></span>

    <button md-button aria-label="Invite other people" (click)="addPeople()">
      ADD
    </button>
  </md-toolbar><!-- End Bottom Bar -->

</div>