<div class="page">
  <div class="main">
    <md-card>
      <h2>Invite New ProxiMate</h2>
      <p class="message">
        Please type in the name and email address for the person that you want to invite.  We will send them a link.
      </p>

      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

        <div class="field">
          <md-input type="text" id="nameInput" [formControl]="myForm.controls['firstname']"></md-input>
          <md-hint>Name *</md-hint>
        </div>

        <div class="field">
          <md-input type="email" id="emailInput" [formControl]="myForm.controls['email']"></md-input>
          <md-hint>Email Address *</md-hint>
        </div>

      </form>
    </md-card>
  </div>

  <!-- Bottom Bar -->
  <md-toolbar>
    <!--<span class="fill-space"></span>-->
    <button md-button aria-label="Back to map" (click)="back()">
      BACK
    </button>
    <button md-raised-button type="submit" color="primary" aria-label="Send invitation" (click)="onSubmit(myForm.value)">
      SEND
    </button>
  </md-toolbar>
  <!-- End Bottom Bar -->
</div>