html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}

a {
    text-decoration: none;
}

.code {
    white-space: pre;
    padding-top: 0;
    padding-bottom: 0;
}

#dropzone {
    width: 100%;
    height: 100px;
    background-color: #e2e2e2;
    display: none;
}

#debug {
    height: 300px;
}